* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* overflow-x:hidden; */
}

main {
    /* display: grid; */
    justify-content: center;
}

.blackjack-table {
    display: grid;
    height: 100vh;
    background-color: green;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .3fr;
    /* grid-template-area: ; */
}

#d-cards, #p-cards {
    display: flex;
    grid-column: 2;
    justify-content: center;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .placeholder {
    height: 25vmin;
    width: 15vmin;
    border-radius: 5%;
    align-self: center;
    border: .5vmin solid white;
} */

.scores {
    margin: 5vmin;
    grid-column: 1;
    grid-row: 1;
}

/* #deck-placeholder {
    height: 25vmin;
    width: 15vmin;
    border-radius: 5%;
    align-self: center;
    border: .5vmin solid white;
    background-image: url("../images/backs/blue.svg");
    background-color: darkred;
} */

.buttons {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: lightgray;
}

.hide {
    visibility: hidden;
}

.pturn-buttons, .game-buttons {
    margin: 1vmin;
    padding: 1vmin;
    letter-spacing: .2vmin;
}

.disable {
    pointer-events: none;
}
/* header {
    height: 10vh;
    font-size: 9vmin;
} */