* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    font-family: 'Raleway Dots', cursive, sans-serif;
    margin: 0;
}

.blackjack-table {
    display: grid;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #007700 0%, #006600 30%, #005500 50%, #004400 70%, #003300 100%);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .1fr 1fr .2fr;
}

#d-cards, #p-cards {
    display: flex;
    grid-column: 2;
    justify-content: center;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}

.buttons {
    grid-row: 4;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vmin;
}

button {
    border-radius: 5px;
    border: 1px solid black;
}

button:hover {
    transform: scale(1.15);
    box-shadow: rgba(0, 255, 200, 1.0) 0px 15px 180px 4px, 
      rgba(255, 255, 255, 0.7) 0px 0px 1010px;
    transition: all 0.3s ease-in-out;
  }

.pturn-buttons, .game-buttons {
    margin: 1vmin;
    padding: 1vmin;
    letter-spacing: .2vmin;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    margin: 5vmin;
    width: 20vmin;
    height: 20vmin;
    grid-row: span 3;
    padding: 2vmin;
    border-radius: 20%;
}

p {
    font-size: 3vmin;
    margin-top: 3vmin;
    margin-bottom: 0;
}

#d-total {
    margin-top: 7vmin;
}

h2 {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    height: 3.5vmin;
    margin: 1vmin;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}